

.hero-container {
  background: url('/public/images/Barrier.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  
}

.hero-container > h1 {
  color: #fff;
  font-size: 40px;
  font-style: oblique;
}

.hero-container > p {
  color: #fff;
  font-size: 100px;
   margin-top: 0;
   margin-right: 30px;
   color:peachpuff;
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -50px;
  }

  .hero-container{
    background-position:70% 50%;
  }

  .hero-container > p {
    font-size: 50px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
