  .background{
background: linear-gradient(180deg, #ffffff 0%, #e9edf1 16%, #d4dce3 33%, #bfcbd5 50%, #aabac7 66%, #96a9b9 83%, #8199ac 100%)
}

  .timeline-section{

    position: relative;
    padding-top: 40px;
  }

  .time-line-header{
    margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 40px;
  }

  .timeline {

    margin-left: 35em;
    margin-top: 2em;
    position: relative;
    max-width: 46em;
  }

  .timeline:before {
    background-color: black;
    content: "";
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
  .timeline-event {
    position: relative;
  }
  .timeline-event:hover .timeline-event-icon {
    transform: rotate(-45deg);
    background-color: #2744e9;
  }
  .timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #2744e9;
  }

  .timeline-event:hover .timeline-event-copy h3 {
    color: blue;
    border: 0.5px solid;
    border-color: blue;
  }

  .timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
  }
  .timeline-event-copy h3 {
    padding-left: 10px;
    font-size: 1.75em;
    transition: 0.2s;
    border-radius: 15px;
    border: 0.5px solid;
    border-color: black;
    background-color: rgb(219, 219, 219);
    box-shadow: inset 0 0 0 0em #ffffff;
  }

  .timeline-event-copy h4 {
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  .timeline-event-copy strong {

  }
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
    padding-left: 10px;
  }

  .list > a{
    text-decoration: none;  
    color: blue;
    
  }

  .list li{
    list-style-type: square;
    padding: 10px 0px;
  }

  .timeline-event-icon {
    transition: transform 0.5s ease-in;
    transform: rotate(45deg);
    background-color: black;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
  }
  .timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.2s;
    color: white;
    font-size: 0.75em;
    background-color: black;
    box-shadow: inset 0 0 0 0em #398b21;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
  }